
/* Google Web Font Helper */
/* bebas-neue-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --primary: hsl(352, 83%, 29%);
    --secondary: hsl(350, 72%, 52%);
    --accent: hsl(345, 84%, 68%);
    --accent-second: hsl(0, 0%, 7%);
    --textual: hsl(0, 4%, 85%);
}

body{
    background: var(--accent-second);
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Styling */
.navbar{
    background: var(--primary);
}

.navbar .sign-in{
    border: 1px solid var(--textual) !important;
    color: var(--textual);
}
.navbar .sign-in:hover{
    border: 1px solid var(--secondary) !important;
    background-color: var(--secondary);
    color: var(--textual);
}
.navbar .sign-up{
    background-color: var(--textual);
}
.navbar .sign-up:hover{
    background-color: var(--secondary);
    color: var(--textual);
}

.offcanvas{
    background-color: var(--primary);
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}
