/* Style for dashboard.php*/
/* Google Web Font Helper */
/* bebas-neue-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --primary: hsl(352, 82%, 29%);
    --secondary: hsl(350, 72%, 52%);
    --tertiary: hsl(352, 82%, 22%);
    --accent: hsl(345, 84%, 68%);
    --accent-second: hsl(0, 0%, 7%);
    --textual: hsl(0, 4%, 85%);
    --textual-gray: hsl(0, 2%, 45%);
}

body{
    height: 100vh;
    background: linear-gradient(283deg, rgba(135,13,29,1) 0%, rgba(18,18,18,1) 25%, rgba(18,18,18,1) 75%, rgba(90,7,18,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Styling*/
.navbar{
    background-color: var(--primary);
    color: #f9f9f9 !important;
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
}
.navbar .navbar-text{
    color: var(--accent);
    font-size: 2rem;
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
}

.offcanvas {
    font-size: 1.3rem;
    background-color: var(--primary); /* Replace with your desired color */
}

.offcanvas-body{
    background-color: var(--accent-second);
}

.dropdown-menu{
    background-color: var(--accent);
    transition: all 0.2s linear;
}
.dropdown-menu li a:hover{
    background-color: var(--accent-second);
    color: #f9f9f9;
}

.logout{
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem auto;
    background-color: var(--secondary);
}

/* Container Styling on Dashboard.php*/

.container{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    color: var(--primary);
    font-size: 6.61rem;
    margin-top: 0.1rem;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    font-family: 'Bebas Neue';
}

.container .input-area{
    width: 50%;
}
.container .input-area form{
    display: flex;
    width: 100%;
    margin-bottom: 1.5rem;
}

.container .input-area form input[type="text"]{
    width: 100%;
    padding: 0.5rem;
}
.container .input-area form button{
    margin: 0 0.5rem;
    width: 10%;
    background: var(--secondary);
    padding: 0.5rem;
    transition: all 0.1s linear;
}
.container .input-area form button:hover{
    background: transparent;
    outline: 1px solid var(--accent);
}
.container .input-area form button svg{
    color: var(--primary);
}
.container .input-area form button:hover svg{
    color: var(--secondary);
}

/* Table Stylings */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 20px 0;
    table-layout: fixed;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.table thead th {
    background-color: var(--primary);
    color: white;
    text-align: left;
    padding: 12px;
    font-weight: bold;
}

.table tbody td {
    padding: 10px;
    word-wrap: break-word;
    white-space: normal;
    border-bottom: 1px solid var(--accent);
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: var(--accent-second);
    color: white;
}

.btn-completed, .btn-remove {
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 10px;
}

.btn-completed {
    color: var(--secondary);
}

.btn-remove {
    color: var(--accent);
}

.action {
    display: flex;
    justify-content: flex-start;
}

.border-bottom {
    border-bottom: 1px solid var(--accent-second);
}


.btn-prio-high, .btn-prio-medium, .btn-prio-low{
    text-decoration: none !important;
}